[flake8]
color=always
max-line-length=120
; Auto generated
exclude=src/gen/
; Linebreak before binary operator
; Allow default value other than "..."
; Allow imports at the bottom of file
ignore=W503,Y015,E402
per-file-ignores=
    ; Quotes
    __init__.pyi:Q000
; PyQt methods
ignore-names=closeEvent,paintEvent,keyPressEvent,mousePressEvent,mouseMoveEvent,mouseReleaseEvent
; McCabe max-complexity is also taken care of by Pylint and doesn't fail teh build there
; So this is the hard limit
max-complexity=32
inline-quotes="
