[flake8]
color=always
max-line-length=120
; Auto generated
exclude=src/gen/
; Linebreak before binary operator
; Allow default value other than "..."
; Allow imports at the bottom of file
ignore=W503,Y015,E402
per-file-ignores=
    ; Function bodys contain other than just ... (eg: raise)
    ; Default values for typed arguments
    typings/win32typing/__init__.pyi: Q000,E704,E501,N8,  Y021,Y020,  Y010,Y011
    typings/win32-stubs/win32gui.pyi: Q000,E704,E501,N8,  Y021,Y020,  Y010,Y011

    ; Docstrings in type stubs
    ; Quoted annotations
    ; TypeAlias
    typings/win32*/*:                 Q000,E704,E501,N8,  Y021,Y020,Y026

    ; Docstrings in type stubs
    ; Function bodys contain other than just ... (eg: raise)
    ; TypeAlias
    ; Single quote docstrings
    typings/cv2-stubs/__init__.pyi:   Q000,E704,E501,N8,  Y021,Y010,Y026, Q002

    ; Quotes
    ; Allow ... on same line as def
    ; Line too long
    ; Naming stuff
    typings/**:                       Q000,E704,E501,N8

; PyQt methods
ignore-names=closeEvent,paintEvent,keyPressEvent,mousePressEvent,mouseMoveEvent,mouseReleaseEvent
; McCabe max-complexity is also taken care of by Pylint and doesn't fail the build there
; So this is the hard limit
max-complexity=32
inline-quotes="
