# Normalize EOF
* autocrlf=false
* eol=lf
*.png eol=auto
*.gif eol=auto
*.ico eol=auto
# Set linguist-language to support comments syntax highlight
pyrightconfig*.json linguist-language=jsonc
.vscode/*.json linguist-language=jsonc
