# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Caches
.*cache/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.venv/
env/
build/
dist/
*.prof
*.egg-info
# Generated
**/gen/*.py
!**/gen/*.pyi

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
.upx/

# Dev settings
settings.toml
