repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: pretty-format-json
        exclude: ".vscode/.*" # Exclude jsonc
        args: [--autofix, --no-sort-keys]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-case-conflict
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, "2", --offset, "2", --preserve-quotes, --line-width, "100"]
      - id: pretty-format-ini
        args: [--autofix]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1 # Must match requirements-dev.txt
    hooks:
      - id: ruff
      - id: ruff-format
        args: [--fix]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0 # Must match requirements-dev.txt
    hooks:
      - id: add-trailing-comma

ci:
  autoupdate_branch: dev
  autoupdate_schedule: monthly
