# https://beta.ruff.rs/docs/configuration
[tool.ruff]
target-version = "py39"
line-length = 120
select = ["ALL", "NURSERY"]
extend-fixable = ["NURSERY"]
# https://beta.ruff.rs/docs/rules
ignore = [
  ###
  # Not needed or wanted
  ###
  "D1", # pydocstyle Missing doctring
  "D401", # pydocstyle: non-imperative-mood
  "EM", # flake8-errmsg
  "FBT", # flake8-boolean-trap
  "INP", # flake8-no-pep420
  "ISC003", # flake8-implicit-str-concat: explicit-string-concatenation
  # Short messages are still considered "long" messages
  "TRY003", # tryceratops : raise-vanilla-args
  # Don't remove commented code, also too inconsistant
  "ERA001", # eradicate: commented-out-code
  # contextlib.suppress is roughly 3x slower than try/except
  "SIM105", # flake8-simplify: use-contextlib-suppress
  # Checked by type-checker (pyright)
  "ANN", # flake-annotations
  "PGH003", # blanket-type-ignore
  "TCH", # flake8-type-checking
  # Already shown by Pylance, checked by pyright, and can be caused by overloads.
  "ARG002", # Unused method argument
  # We want D213: multi-line-summary-second-line and D211: no-blank-line-before-class
  "D203", # pydocstyle: one-blank-line-before-class
  "D212", # pydocstyle: multi-line-summary-first-line
  # Allow differentiating between broken (FIXME) and to be done/added/completed (TODO)
  "TD001", # flake8-todos: invalid-todo-tag

  ###
  # These should be warnings (https://github.com/charliermarsh/ruff/issues/1256)
  ###
  "FIX", # flake8-fixme
  # Not all TODOs are worth an issue, this would be better as a warning
  "TD003", # flake8-todos: missing-todo-link

  # False-positives
  "TCH004", # https://github.com/astral-sh/ruff/issues/3821

  ###
  # Specific to this project
  ###
  "D205", # Not all docstrings have a short description + desrciption
  # We have some Pascal case module names
  "N999", # pep8-naming: Invalid module name
  # Print are used as debug logs
  "T20", # flake8-print
  # This is a relatively small, low contributors project. Git blame suffice.
  "TD002", # missing-todo-author
  # Python 3.11, introduced "zero cost" exception handling
  "PERF203", # try-except-in-loop

  ### FIXME/TODO (no warnings in Ruff yet: https://github.com/charliermarsh/ruff/issues/1256):
  "CPY001",
  "PTH",
  # Ignore until linux support
  "EXE",
]

[tool.ruff.per-file-ignores]
"typings/**/*.pyi" = [
  "F811", # Re-exports false positives
  "F821", # https://github.com/charliermarsh/ruff/issues/3011
  # The following can't be controlled for external libraries:
  "A", # Shadowing builtin names
  "ICN001", # unconventional-import-alias
  "N8", # Naming conventions
  "PLR0913", # Argument count
  "PYI042", # CamelCase TypeAlias
]

# https://beta.ruff.rs/docs/settings/#flake8-implicit-str-concat
[tool.ruff.flake8-implicit-str-concat]
allow-multiline = false

# https://beta.ruff.rs/docs/settings/#isort
[tool.ruff.isort]
combine-as-imports = true
split-on-trailing-comma = false
required-imports = ["from __future__ import annotations"]
# Unlike isort, Ruff only counts relative imports as local-folder by default for know.
# https://github.com/charliermarsh/ruff/issues/2419
# https://github.com/charliermarsh/ruff/issues/3115
known-local-folder = [
  "AutoControlledThread",
  "AutoSplit",
  "AutoSplitImage",
  "capture_method",
  "compare",
  "error_messages",
  "error_messages",
  "gen",
  "hotkeys",
  "menu_bar",
  "region_selection",
  "split_parser",
  "user_profile",
  "utils",
]

# https://beta.ruff.rs/docs/settings/#mccabe
[tool.ruff.mccabe]
# Hard limit, arbitrary to 4 bytes
max-complexity = 31
# Arbitrary to 2 bytes, same as SonarLint
# max-complexity = 15

[tool.ruff.pylint]
# Arbitrary to 1 byte, same as SonarLint
max-args = 7
# At least same as max-complexity
max-branches = 15

# https://github.com/hhatto/autopep8#usage
# https://github.com/hhatto/autopep8#more-advanced-usage
[tool.autopep8]
max_line_length = 120
aggressive = 3
exclude = ".venv/*,src/gen/*"
ignore = [
  "E124", # Closing bracket may not match multi-line method invocation style (enforced by add-trailing-comma)
  "E70", # Allow ... on same line as def
  # Autofixed by Ruff
  # Check for the "Fix" flag https://beta.ruff.rs/docs/rules/#pycodestyle-e-w
  "E401", # I001: unsorted-imports
  "E71", # Comparisons
  "E731", # lambda-assignment
  "W29", # Whitespaces
  "W605", # invalid-escape-sequence
]

# https://github.com/microsoft/pyright/blob/main/docs/configuration.md#sample-pyprojecttoml-file
[tool.pyright]
typeCheckingMode = "strict"
# Prefer `pyright: ignore`
enableTypeIgnoreComments = false
# Extra strict
reportImplicitOverride = "error"
reportImplicitStringConcatenation = "error"
reportCallInDefaultInitializer = "error"
reportMissingSuperCall = "none" # False positives on base classes
reportPropertyTypeMismatch = "error"
reportUninitializedInstanceVariable = "error"
reportUnnecessaryTypeIgnoreComment = "error"
# Exclude from scanning when running pyright
exclude = [
  ".venv/",
  # Auto generated, fails some strict pyright checks
  "build/",
  "src/gen/",
]
# Ignore must be specified for Pylance to stop displaying errors
ignore = [
  # We expect stub files to be incomplete or contain useless statements
  "**/*.pyi",
]
reportUnusedCallResult = "none"
# Type stubs may not be completable
reportMissingTypeStubs = "warning"
# False positives with TYPE_CHECKING
reportImportCycles = "information"
# False positives with PySide .connect
reportFunctionMemberAccess = "none"
# Extra runtime safety
reportUnnecessaryComparison = "warning"
# Using Flake8/Ruff instead
reportUnusedImport = "none"
# numpy has way too many complex types that triggers this
reportUnknownMemberType = "none"
