[project]
name = "AutoSplit"
dynamic = ["version"]

# https://github.com/microsoft/pyright/blob/main/docs/configuration.md#sample-pyprojecttoml-file
[tool.pyright]
typeCheckingMode = "strict"
pythonVersion = "3.11"
# Prefer `pyright: ignore`
enableTypeIgnoreComments = false

###
# Downgraded diagnostics
###
# Type stubs may not be completable
reportMissingTypeStubs = "warning"
# Extra runtime safety
reportUnnecessaryComparison = "warning"
# Using Flake8/Ruff instead. Name is already grayed out and red squiggle looks like a mistyped import
reportUnusedImport = "none"

###
# Off by default even in strict mode
###
deprecateTypingAliases = true
enableExperimentalFeatures = true
reportCallInDefaultInitializer = "error"
reportImplicitOverride = "error"
reportImplicitStringConcatenation = "error"
# False positives with TYPE_CHECKING
reportImportCycles = "information"
# Too strict. False positives on base classes
reportMissingSuperCall = "none"
reportPropertyTypeMismatch = "error"
reportShadowedImports = "error"
reportUninitializedInstanceVariable = "error"
reportUnnecessaryTypeIgnoreComment = "error"
reportUnusedCallResult = "none"

# Exclude from scanning when running pyright
exclude = [
  ".venv/",
  # Auto generated, fails some strict pyright checks
  "build/",
  "src/gen/",
]
# Ignore must be specified for Pylance to stop displaying errors
ignore = [
  # We expect stub files to be incomplete or contain useless statements
  "**/*.pyi",
]
