[project]
name = "AutoSplit"
version = "2.3.2"
requires-python = ">=3.14"
dependencies = [
  "Levenshtein >=0.25",
  "PyWinCtl >=0.0.42", # py.typed
  "numpy >=2.3.2", # Python 3.14 support
  "opencv-contrib-python-headless >=4.10", # NumPy 2 support
  "packaging >=20.0", # py.typed
  "pynput >=1.8.1",
  "tomli-w >=1.1.0", # Typing fixes

  # When needed, PySide6 dev builds can be found at https://download.qt.io/snapshots/ci/pyside/dev?C=M;O=D
  "PySide6-Essentials <6.8.1; sys_platform == 'linux' and platform_machine == 'aarch64'", # <6.8.1 on ubuntu-22.04-arm (glibc 2.39)
  "PySide6-Essentials >=6.9.0; sys_platform != 'linux' or platform_machine != 'aarch64'", # >=6.9.0 on Windows ARM64; Use this for everything else that supports as well

  #
  # Build and compile resources
  "pyinstaller >=6.15.0", # Python 3.14 support

  #
  # https://packaging.python.org/en/latest/specifications/dependency-specifiers/#environment-markers
  #
  # Windows-only dependencies:
  "pygrabber >=0.2; sys_platform == 'win32'", # Completed types
  "pywin32 >=311; sys_platform == 'win32'", # Python 3.14 support
  "typed-D3DShot[numpy] >=1.0.1; sys_platform == 'win32'",
  # winrt: 3.14 wheels
  "winrt-Windows.Foundation >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics.Capture >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics.Capture.Interop >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics.DirectX >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics.DirectX.Direct3D11 >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics.DirectX.Direct3D11.Interop >=3.2.1; sys_platform == 'win32'",
  "winrt-Windows.Graphics.Imaging >=3.2.1; sys_platform == 'win32'",
  #
  # Linux-only dependencies
  "pillow >=12.1.1; sys_platform == 'linux'", # Security fix # Necessary for ImageGrab.
  "python-xlib >=0.33; sys_platform == 'linux'",
]
[dependency-groups]
ruff = [
  "beslogic-ruff-config",
  "ruff", # Version should come from beslogic-ruff-config and the lock file
]
dev = [
  #
  # Visual Designer
  "qt6-applications >=6.5.0",
  #
  # Linters & Formatters
  "dprint-py>=0.50.0.0",
  "mypy[faster-cache] >=1.18",
  "pyright[nodejs] >=1.1.400", # reportPrivateImportUsage behaviour change
  { include-group = "ruff" },
  #
  # Types
  "types-pyinstaller",
  "types-python-xlib; sys_platform == 'linux'",
  "types-pywin32 >=306.0.0.20240130; sys_platform == 'win32'",
]
[tool.uv]
environments = [
  # AutoSplit does not currently support macOS
  "sys_platform == 'linux'",
  "sys_platform == 'win32'",
]

[tool.uv.sources] # Development channels
beslogic-ruff-config = { git = "https://github.com/Beslogic/Beslogic-Ruff-Config" }
# pywin32 = { git = "https://github.com/mhammond/pywin32.git", marker = "python_version == '3.15'" }
# numpy = { index = "scientific-python-nightly-wheels" }
[[tool.uv.index]]
# https://anaconda.org/scientific-python-nightly-wheels/
name = "scientific-python-nightly-wheels"
url = "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple"
explicit = true

# https://github.com/microsoft/pyright/blob/main/docs/configuration.md#sample-pyprojecttoml-file
[tool.pyright]
typeCheckingMode = "strict"
# Prefer `pyright: ignore`
enableTypeIgnoreComments = false

###
# Downgraded diagnostics
###
# Type stubs may not be completable
reportMissingTypeStubs = "warning"
# Extra runtime safety
reportUnnecessaryComparison = "warning"
# Using Ruff instead. Name is already grayed out and red squiggle looks like a mistyped import
reportUnusedImport = "none"

###
# Off by default even in strict mode
###
deprecateTypingAliases = true
enableExperimentalFeatures = true
reportCallInDefaultInitializer = "error"
reportImplicitOverride = "error"
reportImplicitStringConcatenation = "error"
# False positives with TYPE_CHECKING
reportImportCycles = "information"
# Too strict. False positives on base classes
reportMissingSuperCall = "none"
reportPropertyTypeMismatch = "error"
reportShadowedImports = "error"
reportUninitializedInstanceVariable = "error"
reportUnnecessaryTypeIgnoreComment = "error"
reportUnusedCallResult = "none"

# Exclude from scanning when running pyright
exclude = [
  # mypyc build folder
  "build/",
  # PyInstaller dist folder
  "dist/",
  # Auto generated, fails some strict pyright checks
  "src/gen/",
  # Defaults
  "**/.*",
  "**/__pycache__",
  "**/node_modules",
  ".venv",
]
# Ignore must be specified for Pylance to stop displaying errors
ignore = [
  # We expect stub files to be incomplete or contain useless statements
  "**/*.pyi",
]
