# https://github.com/BesLogic/Beslogic-Ruff-Config
extend = ".venv/Beslogic-Ruff-Config/ruff.toml"

[lint]
explicit-preview-rules = false # This project uses bleeding-edge behaviours
ignore = [
  "D205", # Not all docstrings have a short description + description
  # We have some Pascal case module names
  "N999", # pep8-naming: Invalid module name
  # Print are used as debug logs
  "T20", # flake8-print
  # This is a relatively small, low contributors project. Git blame suffice.
  "TD002", # missing-todo-author
  # We do work in __init__ modules
  "RUF067", # non-empty-init-module

  ###
  # TODO
  ###
  "PTH", # flake8-use-pathlib
  "RUF028", # invalid-formatter-suppression-comment, Is meant for the formatter, but false-positives
  # Disabled until https://github.com/astral-sh/ruff/issues/23185 is fixed
  "TC00",
]

# https://docs.astral.sh/ruff/settings/#isort
[lint.isort]
# The src-based layout detection can differ on CI
# TODO: Check if this has been fixed in Ruff 0.13
known-third-party = ["gen"]

[lint.per-file-ignores]
"src/d3d11.py" = [
  # Following windows API/ctypes like naming conventions
  "N801", # invalid-class-name
]
