# Requirements file for AutoSplit
#
# Read /docs/build%20instructions.md for more information on how to install, run and build the python code.
#
# Dependencies:
git+https://github.com/boppreh/keyboard.git#egg=keyboard  # Fix install on macos and linux-ci https://github.com/boppreh/keyboard/pull/568
Levenshtein>=0.25
numpy>=2.1  # Python 3.13 support
opencv-python-headless>=4.10  # NumPy 2 support
packaging
psutil>=6.0.0  # Python 3.13 support
# PyAutoGUI # See install.ps1
PyWinCtl>=0.0.42  # py.typed
# When needed, dev builds can be found at https://download.qt.io/snapshots/ci/pyside/dev?C=M;O=D
PySide6-Essentials>=6.6.0 ; python_version <= '3.12'  # Python 3.12 support
# https://download.qt.io/snapshots/ci/pyside/dev/c512b506b565578770c671b11afb78427ca8d012/pyside6/PySide6_Essentials-6.8.0a1.dev1727870855-cp39-abi3-win_amd64.whl ; python_version >= '3.13'
# https://download.qt.io/snapshots/ci/pyside/dev/c512b506b565578770c671b11afb78427ca8d012/pyside6/shiboken6-6.8.0a1.dev1727870855-cp39-abi3-win_amd64.whl ; python_version >= '3.13'
scipy>=1.14.1 # Python 3.13 support
tomli-w>=1.1.0  # Typing fixes
typing-extensions>=4.4.0  # @override decorator support
#
# Build and compile resources
pyinstaller>=6.10.0  # Python 3.13 support
#
# https://peps.python.org/pep-0508/#environment-markers
#
# Windows-only dependencies:
typed-D3DShot[numpy] >= 1.0.1; sys_platform == 'win32'
pygrabber>=0.2 ; sys_platform == 'win32'  # Completed types
pywin32>=307 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.AI.MachineLearning>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Foundation>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Graphics.Capture>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Graphics.Capture.Interop>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Graphics.DirectX>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Graphics.DirectX.Direct3D11>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Graphics.Imaging>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Graphics>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
winrt-Windows.Media.Capture>=2.2.0 ; sys_platform == 'win32'  # Python 3.13 support
typed-D3DShot[numpy]>=1.0.1 ; sys_platform == 'win32'
#
# Linux-only dependencies
PyScreeze ; sys_platform == 'linux'
pillow>=11.0 ; sys_platform == 'linux' # Python 3.13 support # Necessary for PyScreeze. For unknown reasons it's not pulled in on CI
python-xlib ; sys_platform == 'linux'
