# Requirements file for AutoSplit
#
# Python: CPython 3.8+
#
# Usage: .\scripts\install.bat
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -r .\scripts\requirements.txt
#
# Creating AutoSplit.exe with PyInstaller: .\scripts\build.bat
#
# Dependencies:
numpy>=1.22.0rc1
opencv-python>=4.5.4
PyQt6>=6.2.1
PySide6
ImageHash
keyboard
packaging
Pillow
pyautogui
pywin32
requests
certifi
toml
git+https://github.com/ranchen421/D3DShot.git#egg=D3DShot  # https://github.com/SerpentAI/D3DShot/issues/44
#
# Linting and Types
bandit
flake8
flake8-pyi
flake8-quotes
pylint
pywin32-stubs
simplejson
types-simplejson>=3.17.2
types-requests
#
# Not compatible with python 3.10 yet, used to design the UI. Can be downloaded externally
# Uncomment this if you want to run `designer.bat` to quickly open the bundled PyQt Designer
# PyQt6-tools
#
# Comment this out if you don't want to build AutoSplit.exe:
PyInstaller
