# Requirements file for AutoSplit
#
# Python: CPython 3.9+
#
# Usage: .\scripts\install.bat
#
# If you're having issues with the libraries, you might want to first run:
# pip3.9 uninstall -r requirements.txt
#
# Creating AutoSplit.exe with PyInstaller: .\scripts\build.bat
#
# Dependencies:
wheel
PyQt6
opencv-python
Pillow
ImageHash
pywin32
keyboard
packaging
pyautogui
PySide6
flake8
mypy
#
# Comment this out if you don't want to build AutoSplit.exe:
PyInstaller
#
# Comment this out if you don't want to install the PyQt designer
PyQt6-tools
