# Usage: ./scripts/install.ps1
#
# If you're having issues with the libraries, you might want to first run:
# pip uninstall -y -r ./scripts/requirements-dev.txt
#
# Dependencies
-r requirements.txt
#
# Linters & Formatters
add-trailing-comma>=2.3.0  # Added support for with statement
autopep8>=2.0.0 # New checks
ruff>=0.0.262 # Avoid N802 violations for @override + Avoid adding required imports to stub files
#
# Run `./scripts/designer.ps1` to quickly open the bundled Qt Designer.
# Can also be downloaded externally as a non-python package
# qt6-applications
# Types
types-D3DShot ; sys_platform == 'win32'
types-keyboard
types-Pillow
types-psutil
types-PyAutoGUI
types-pyinstaller
types-python-xlib ; sys_platform == 'linux'
types-pywin32 ; sys_platform == 'win32'
types-requests
types-toml
