# https://autofix.ci/setup#getting-started
name: autofix.ci # needed to securely identify the workflow
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-24.04-arm
    env:
      RUFF_OUTPUT_FORMAT: github
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
      - run: uv sync --locked --only-group=ruff
      - run: ruff check --fix
      - run: ruff format
        # Format even if the the previous step failed
        if: ${{ !cancelled() }}

      - run: npx dprint fmt
        # Format even if the the previous step failed
        if: ${{ !cancelled() }}

      - uses: autofix-ci/action@551dded8c6cc8a1054039c8bc0b8b48c51dfc6ef
